

:root {
    --br0: 1px;
    --br1: 2px;
    --br2: 3px;
    --br3: 4px;
    --br4: 5px;

    --c1: #0d1b2a;
    --c2: #1b263b;
    --c31: #415a77;
    --c32: #415a77;

    --c3: #cddfff;
    --c4: #778da9;
    --c5: #e0e1dd;

    --light-blue: #e2ecff;
    --light-blue-2: #fafcff;
    --light-blue-3: #bcd5ff;
    --light-blue-4: #9ba6ba;
    --primary-blue: #527bff;



    --c21: #3c3c3f;

    --nav-border: var(--light-blue-3);

    --white: #ffffff;
    --black: #1a1a1a;
    --gray: #f0f0f0;

    --border-radius: 4px;
    --padding: 0.5rem;

    --transition-timing-short: 0.15s ease;
    --transition-timing-med: 0.3s ease;
    --transition-timing-long: 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-overflow: clip !important;
    font-family: "Roboto", sans-serif;
}

