div.protected-shell {
    display: grid;
    grid-template-rows: 50px auto;
    height: 100vh;
}

div.header {
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid var(--nav-border);
}

div.content-wrapper {
    display: grid;
    grid-template-columns: 50px auto;
}

div.nav {
    width: 50px;
    height: 100%;
    border-right: 1px solid var(--nav-border);
    background-color: var(--light-blue-2);
}

div.title-wrapper {
    display: flex;
    // flex-direction: row;
    align-items: center;
    font-weight: 700;
    column-gap: 0.25rem;
    // padding: 0.5rem;
    // height: 100%;

    // .logo, .title {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 100%;
    // }

    // .title {
    //     font-size: 1rem;
    //     line-height: 1rem;
    // }

    color: var(--primary-blue);

}

div.content {
    // background-color: red;
    height: calc(100vh - 50px);
    overflow: auto;
}