div.protected-shell {
    display: grid;
    grid-template-rows: 50px auto;
    height: 100vh;
}

header.nav-header {
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid var(--nav-border);
}

div.main {
    display: grid;
    grid-template-columns: 50px auto;
}

nav.nav {
    width: 50px;
    height: 100%;
    border-right: 1px solid var(--nav-border);
    background-color: var(--light-blue-2);
}

div.content {
    // background-color: red;
    height: calc(100vh - 50px);
    overflow: auto;
    background-color: #ffffff;
}

ul.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    // padding: 1rem;
    padding: 1rem 0rem;
}

li.nav-button-container {
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-timing-short);
}

a.nav-button {
    display: block;
    color: var(--light-blue-4);
    padding: 0.25rem;
    transition: color var(--transition-timing-short);
    text-decoration: none;
}

li.nav-button-container.active {

    a.nav-button {
        color: var(--primary-blue);
    }
    background-color: var(--light-blue-3);
}

li.nav-button-container:hover {

    a.nav-button {
        color: var(--primary-blue);
    }
}